@{
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="MultiPage">
<head>
    <title></title>
</head>
<body>
    <h1>Super Fantastic App</h1>
    <ng-view></ng-view>


    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/MultiPage/app.js"></script>
    <script src="~/MultiPage/controller.js"></script>
</body>
</html>