<div>
    <a ng-click="main.showCreateModal()"> Create </a>    
</div>

<div class="section">
    <div class="row">
        <div class="col-md-4 col-md-offset-4" ng-repeat="lesson in main.lessons">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Lesson {{lesson.id}}</h3>
                </div>
                <div class="panel-body">
                    <h4>Title:</h4> {{lesson.title}}
                    <h4>Author:</h4>{{lesson.author}}
                    <h4>Description:</h4>{{lesson.description}}
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item" src="{{main.embedLink(lesson.videoLink)}}" frameborder="0" allowfullscreen></iframe>
                    </div>

                </div>
                <div class="panel-footer">
                    <a ng-click="main.showEditModal(lesson.id)">Edit</a> | <a ng-click="main.showRemoveModal(lesson.id)">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
