@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Lessons Unlimited</h1>
    <ng-view></ng-view>



    <script src="../Scripts/angular.min.js"></script>
    <script src="../Scripts/angular-route.min.js"></script>
    <script src="../ngApp/app.js"></script>
    <script src="../ngApp/masterController.js"></script>
</body>
</html>
