@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp">
<head>
    <title></title>
    @*The value of the <base> element should correspond to the base URL for your 
    single page app. In our case, because we are serving our client-side AngularJS app 
    from the root of our server-side ASP.NET MVC app, we need to set the base URL to the value /.*@
    <base href="/">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/home">Lessons Unlimited</a></li>
                    <li><a href="/lessons">Lessons</a></li>
                </ul>
            </div>
        </div>
    </div>
   
     <ng-view></ng-view>

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="~/ngApp/app.js"></script>
    <script src="~/ngApp/masterController.js"></script>
    <script src="~/ngApp/services.js"></script>
</body>
</html>
