@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml" ng-app="BootstrapApp">
<head>
    <title></title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <input type="text" tooltip="Hello World!" tooltip-placement="bottom" />




    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="~/ngApps/BootstrapApp/Bootstrap.js"></script>
</body>
</html>

