<div class="modal-header">Create Lesson</div>
<div class="modal-body">
    <form ng-submit="modal.save()">
        <div>
            <label>Title</label>
            <input ng-model="modal.album.title" />
        </div>
        <div>
            <label>Author</label>
            <input ng-model="modal.album.artist" />
        </div>
        <div>
            <label>Author</label>
            <input ng-model="modal.album.genre" />
        </div>
        <input type="submit" value="Save" />
    </form>

</div>
<div class="modal-footer">   </div>